{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="row p-5">
<figure class="text-center">
    <img class="img-fluid rounded m-3 text-center" style="width: 200px; height: 200px" src="{% static 'logo.png' %}" alt="logo">
</figure>
<h2 class="text-center">Connexion - <a href="{% url 'admin:login' %}">Admin</a></h2>
{% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-danger text-center">{{ message }}</div>
    {% endfor %}
{% endif %}
<form class="form" method="post">
    {% csrf_token %}
    <div class="form-group col-4 offset-4">
    <label for="username">Nom d'utilisateur:</label>
    <input type="text" class="form-control" id="username" name="username" required>
    </div>
    <div class="form-group col-4 offset-4">
    <label for="password">Mot de passe:</label>
    <input type="password" class="form-control" id="password" name="password" required>
    </div>
    <div class="form-group col-4 offset-4">
        <button type="submit" class="btn btn-success m-3 text-center">Se connecter</button>
    </div>
</form>
</section>
{% endblock %}